.menuItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #a9a9a9;

  .menuItemName {
    font-size: 0.75rem;
  }
}

.bar {
  background-color: #ffc01e;
  border-radius: 0.26rem 0 0 0.26rem;
  height: 1.25rem;
  width: 0.41rem;
  display: flex;
  display: inline-block;
  margin-left: auto;
  display: none;
}

.active {
  color: #1fcb4f;
}

.activeBar {
  display: block;
}
